# Gradle / Android
.gradle/
build/
plugins/*/build/
local.properties
.kotlin/

# JS
node_modules/
bun.lockb
bun.lock
package-lock.json
deno.lock

# Dev
.dev/
*.dev

# Misc
.DS_Store
.idea/
*.iml
dist/
*.zip
update.sh
